@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  
    /* Color is Inverted for light and dark mode! */
  --color-dark-lightbg: 0 0 0; /* Light mode color: black */
  --color-light-darkbg: 255 255 255;   /* Dark mode color: white */


  --color-light-bg: 255 255 255; /* Light mode color: white */
  --color-dark-bg: 0 0 0;   /* Dark mode color: black */
  --color-primary: 235	86	128	; /* Pink */
 
}


body {
  color: rgb(var(--foreground-rgb));
  background:rgb(var(--background-rgb));
}

@layer base{
:root{
  --color-normal: var(--color-dark-lightbg);
  --color-bg: var(--color-light-bg);

  
}
.dark {
  --color-normal: var(--color-light-darkbg);
  --color-bg: var(--color-dark-bg);
}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
